<% provide(:title, "Host Dashboard") %>
<div class="container" style="margin-top: 100px">
    <div class="row" style="margin-top: 50px">
        <%= render 'layouts/navigation' %>
        <div class="col">
            <div class="container-fluid">
                <h2>Dashboard</h2>
                <hr />
                <h3>Current Bookings</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="background-color: #16f063;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <i class="fa fa-book fa-2x d-flex justify-content-end"></i>
                                        <h6 class="text-right text-muted">Booked Properties</h6>
                                    </div>
                                    <div class="col">
                                        <h1 class="text-right text-white">1</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="background-color: #16f063;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <i class="fa fa-bookmark fa-2x d-flex justify-content-end"></i>
                                        <h6 class="text-right text-muted">Coming Bookings</h6>
                                    </div>
                                    <div class="col">
                                        <h1 class="text-right text-white">1</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card"  style="background-color: #16f063;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9">
                                        <i class="fa fa-check fa-2x d-flex justify-content-end"></i>
                                        <h6 class="text-right text-muted">Completed Bookings</h6>
                                    </div>
                                    <div class="col">
                                        <h1 class="text-right text-white">1</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>