<div role="tabpanel" class="tab-pane fade show active" id="tab-2">
    <div class="row" style="margin-top: 20px;">
        <div class="col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center">
        <i class="fa fa-user-circle fa-4x"></i></div>
        <div class="col-xl-10">
            <h1>Host Name</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <p class="text-right">Contact Number: </p>
                </div>
                <div class="col">
                    <p><%= @host_details.contact_number %></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-right">Email Address:</p>
                </div>
                <div class="col">
                    <p><%= @host_details.email %></p>
                </div>
            </div>
        </div>
    </div>
</div>
