<div class="row">
    <div class="col">
        <div class="card" style="margin-top: 20px;">
            <div class="card-header">
                <h5 class="mb-0">Your Booked Trips</h5>
            </div>
            <div class="card-body">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-xl-2 d-xl-flex align-items-xl-center">
                        <p>Check in Date</p>
                    </div>
                    <div class="col-xl-2"><img /></div>
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Listing Name<br />Host Name</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><button class="btn btn-primary col-lg-12" type="button">Review Host</button></div>
                </div>
                
                <div class="row">
                    <div class="col d-xl-flex justify-content-xl-center" style="margin-top: 15px;">
                        <nav>
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>