<div class="col-xl-3">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4>Price</h4>
                            <hr style="background-color: #16f063;" />
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col">
                            <input type="number" class="col-lg-12 roundedFormField" placeholder="min price" />
                        </div>
                        <div class="col">
                            <input type="number" class="col-lg-12 roundedFormField" placeholder="max price" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h4>Amenities</h4>
                    <hr style="background-color: #16f063;" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">Internet &amp; WiFi</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">TV</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">Kitchen</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">Heating</label></div>
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="formCheck-1" /><label class="form-check-label" for="formCheck-1">Air Conditioner</label></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col">
            <h4>Room Type</h4>
            <hr style="background-color: #16f063;" />
            <div class="row">
                <div class="col"><select><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col">
            <h4>Bedrooms</h4>
            <hr style="background-color: #16f063;" />
            <div class="row">
                <div class="col"><select><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col">
            <h4>Bathrooms</h4>
            <hr style="background-color: #16f063;" />
            <div class="row">
                <div class="col"><select><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col">
            <h4>Accomodation</h4>
            <hr style="background-color: #16f063;" />
            <div class="row">
                <div class="col"><select><optgroup label="This is a group"><option value="12" selected>This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr style="background-color: #16f063;" />
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center"><button class="btn btn-primary d-xl-flex justify-content-xl-center" type="button">Filter</button></div>
            </div>
        </div>
    </div>
</div>