.parallax {
  background-image: url("home/heading.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  right: 20%;
  top: 30%;
  width: 100%;
  text-align: right;
}

.callToAction {
  background-color: #000000;
  height: 190px;
}

.callToActionButton {
  margin-top: 5px;
  height: 60px;
  width: 350px;
}

.callToActionButton i.arrow {
  margin-left: 75px;
}

.firstImage {
  width: 600px;
}

.secondImage {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 600px;
}

.thirdImage {
  margin-top: 25px;
  margin-bottom: 50px;
  width: 600px;
}

.contactUs{
  background-image: url("home/contact.jpg");
        height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.aboutUs{
  background-image: url("home/about.jpg");
        height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}