.hostHeadingHeader {
  /* The image used */
  background-image: url("home/host_heading.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}

.hostHeadingCaption {
  margin-left: 450px;
  padding-top: 277px;
  font-family: "Montserrat";
}

.fieldRowSpace {
  margin-top: 25px;
}

.fieldItemWidth {
  min-width: 300px;
}