<footer class="footer">
    <div class="container">
        <div class="footerContent">
            <div class="text-center">
                <h4 class="text-white">Traveller's Nomadic Hut</h4>
            </div>
        </div>
    </div>
</footer>